
$primary: #284154;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

$snapbackPrimary: #284154;
$snapbackSecondary: #f06eaa;
// @import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@import './login-register.scss';
@import './edit-user.scss';
@import './sessions.scss';


body {
  // font-family: 'Assistant', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.list-group-item.active {
  border-bottom: 1px solid #ccc;
}

.alert {
  &.alert-dismissible {
    margin-top: 2rem;
  } 
}
.modal-body {
  text-align: center;
}

.toast {
  padding: 10px;
  .toast-header {
    float: right;
    border-bottom: none;    
    .close {
      margin-top: .3rem;
    }
  }
}

.custom-select {
  width: auto;
}

.table {
  tbody {
    tr {
      td {
        min-width: 200px;
      }
      td:last-child {
        text-align: right;
        width: 15rem;
      }

      td:first-child {
        min-width: 200px; 
      }
    }
  }
}

.b-table-sticky-header {
  max-height: 100%;
  &> .table.b-table > thead > tr > th {
    top: -1px;
  } 
}

.loading-wrapper {
  position: relative;
  .loading {
    border-radius: 0;
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 25% 45%;
  box-sizing: border-box;
  border-radius: 1.5rem;
  opacity: .7;
}

$types: 'primary', 'danger', 'success', 'info', 'warning', 'dark', 'secondary', 'light';

@each $type in $types {
  .b-toast-#{$type} {
    .toast {
      .toast-header {
        background-color: transparent;
      }
    }
  }
}


@media (min-width: 576px) {
  .jumbotron {
      padding: 2rem 2rem;
  }

}